---

---

<footer class="page-footer font-small mt-5">
  <div class="container footer__inner mt-5">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-md-0 order-2 order-lg-1">
        <div class="footer-widget">
          <h3 class="footer__title">Kontakt</h3>
          <div class="textwidget">
            <p>
              Fachhochschule Nordwestschweiz FHNW<br />Corporate IT<br />Team
              Web<br />Bahnhofstrasse 6<br />5210 Windisch
            </p>
            <p>
              E-Mail: <a href="mailto:webmaster@fhnw.ch">webmaster@fhnw.ch</a>
            </p>
          </div>
          <!-- Social Icons -->
          <ul class="social-icons d-flex flex-wrap list-unstyled">
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://www.fhnw.ch"
                target="_blank"
                title="folgen Sie uns auf Instagram"
              >
                <svg
                  width="17"
                  height="17"
                  viewBox="0 0 17 17"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M8.8 1.525c2.129 0 2.381.008 3.223.049.777.038 1.2.176 1.48.291.373.154.639.337.918.633s.452.578.597.973c.109.298.239.746.274 1.571.039.893.047 1.16.047 3.42 0 2.259-.008 2.526-.047 3.419-.035.825-.165 1.273-.274 1.57a2.646 2.646 0 01-.597.974c-.279.296-.545.48-.917.633-.281.116-.704.254-1.481.291-.842.041-1.094.05-3.224.05s-2.382-.009-3.223-.05c-.778-.037-1.2-.175-1.482-.291a2.466 2.466 0 01-.917-.633 2.646 2.646 0 01-.596-.973c-.11-.298-.24-.746-.275-1.571-.039-.893-.047-1.16-.047-3.42 0-2.259.008-2.526.047-3.419.035-.825.165-1.273.275-1.57.144-.396.317-.678.596-.974.28-.296.545-.48.917-.633.281-.115.704-.253 1.482-.291.84-.04 1.093-.05 3.223-.05zM8.8 0C6.632 0 6.36.01 5.51.05c-.849.042-1.429.185-1.936.394a3.89 3.89 0 00-1.413.976c-.444.47-.716.942-.92 1.499-.197.538-.332 1.153-.371 2.054-.039.902-.048 1.19-.048 3.489 0 2.298.009 2.586.048 3.488.039.9.174 1.516.37 2.054.205.557.477 1.028.92 1.499.444.47.89.76 1.414.976.507.21 1.087.352 1.936.393.851.041 1.123.051 3.29.051 2.166 0 2.437-.01 3.288-.05.85-.042 1.429-.185 1.936-.394a3.89 3.89 0 001.413-.976c.444-.47.717-.942.92-1.499.198-.538.333-1.153.371-2.054.04-.902.048-1.19.048-3.488 0-2.299-.009-2.587-.048-3.49-.038-.9-.173-1.515-.37-2.053a4.179 4.179 0 00-.92-1.499 3.892 3.892 0 00-1.414-.976c-.507-.209-1.087-.352-1.936-.393C11.238.01 10.966 0 8.799 0zm.015 4.13c-2.264 0-4.1 1.947-4.1 4.348 0 2.402 1.836 4.349 4.1 4.349 2.264 0 4.1-1.947 4.1-4.349 0-2.401-1.836-4.348-4.1-4.348zm0 7.17c-1.47 0-2.661-1.263-2.661-2.822 0-1.558 1.191-2.822 2.661-2.822s2.66 1.264 2.66 2.822c0 1.56-1.19 2.823-2.66 2.823zm5.175-7.372c0 .557-.425 1.008-.95 1.008-.524 0-.949-.451-.949-1.008 0-.556.425-1.007.95-1.007.524 0 .95.451.95 1.007z"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://facebook.com/fhnw.ch"
                target="_blank"
                title="folgen Sie uns auf Facebook"
              >
                <svg
                  width="8"
                  height="18"
                  viewBox="0 0 8 18"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.304 17.692H1.768V8.845H0V5.797h1.768v-1.83C1.768 1.48 2.765 0 5.6 0h2.36v3.05H6.486c-1.104 0-1.177.425-1.177 1.22l-.005 1.527h2.673l-.313 3.048h-2.36v8.847z"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://twitter.com/fhnw"
                target="_blank"
                title="folgen Sie uns auf Twitter"
              >
                <svg
                  width="15"
                  height="13"
                  viewBox="0 0 15 13"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.464 3.038c.196 4.328-3.033 9.154-8.749 9.154A8.703 8.703 0 010 10.809a6.191 6.191 0 004.556-1.274 3.087 3.087 0 01-2.877-2.138c.484.092.959.066 1.392-.051C1.59 7.046.568 5.714.602 4.288c.416.23.89.368 1.393.385a3.083 3.083 0 01-.951-4.11A8.733 8.733 0 007.386 3.78 3.08 3.08 0 0112.631.972c.7-.137 1.36-.394 1.954-.747a3.087 3.087 0 01-1.354 1.703A6.146 6.146 0 0015 1.442a6.195 6.195 0 01-1.535 1.596"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://www.xing.com/companies/fachhochschulenordwestschweiz/"
                target="_blank"
                title="folgen Sie uns auf Xing"
              >
                <svg
                  width="14"
                  height="16"
                  viewBox="0 0 14 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.376 0L5.289 9.03l3.354 6.092h3.077L8.398 9.03 13.482 0h-3.106zM.849 3.236l1.743 2.99L0 10.798h3.098L5.69 6.216l-1.73-2.98H.85z"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://www.linkedin.com/school/fachhochschule-nordwestschweiz-fhnw/"
                target="_blank"
                title="folgen Sie uns auf LinkedIn"
              >
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0 14.43h3.092V5.155H0v9.277zM1.546 3.093A1.547 1.547 0 111.547 0a1.547 1.547 0 010 3.093zM13.4 14.431h-3.088v-4.416c0-2.904-3.097-2.658-3.097 0v4.416H4.123V5.169h3.092v1.688C8.563 4.363 13.4 4.177 13.4 9.246v5.185z"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://www.fhnw.ch"
                target="_blank"
                title="folgen Sie uns auf YouTube"
              >
                <svg
                  width="17"
                  height="13"
                  viewBox="0 0 17 13"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M6.253 9.095V3.762l5.33 2.662-5.33 2.671zM13.325.551c-2.401-.164-7.75-.163-10.147 0C.58.73.275 2.298.256 6.43c.02 4.123.323 5.699 2.922 5.877 2.398.163 7.746.164 10.147 0 2.597-.178 2.903-1.747 2.922-5.877-.02-4.124-.322-5.7-2.922-5.878z"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
            <li class="mr-2 pt-1 pb-1 pr-1">
              <a
                class="social-icons__link"
                href="https://www.fhnw.ch"
                target="_blank"
                title="folgen Sie uns auf Vimeo"
              >
                <svg
                  width="15"
                  height="16"
                  viewBox="0 0 15 16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.316 7.504c-.78 1.696-2.66 4.005-3.85 4.005-1.172 0-1.342-2.546-1.982-4.24-.314-.833-.517-.643-1.107-.221l-.36-.473c.86-.771 1.722-1.667 2.252-1.716.595-.058.963.356 1.1 1.245.181 1.168.434 2.981.877 2.981.344 0 1.194-1.438 1.238-1.952.077-.752-.544-.775-1.082-.54.852-2.847 4.401-2.322 2.914.911M7.846.571C3.896.571.692 3.834.692 7.857c0 4.024 3.203 7.286 7.154 7.286 3.95 0 7.154-3.262 7.154-7.286C15 3.834 11.797.571 7.846.571"
                    fill="#FFF"
                    fill-rule="evenodd"></path>
                </svg><!-- / End output of ($context["key"] . ".svg") -->
              </a>
            </li>
          </ul>
          <!-- END Social Icons -->
        </div>
      </div>
      <!-- Page description -->
      <div class="col-12 col-lg-4 mb-3 mb-lg-0 order-1 order-lg-2">
        <div class="footer-widget">
          <h3 class="footer__title">Über diese Website</h3>
          <div class="textwidget">
            <p>
              Dieser Überblickstext zum jeweiligen Webdienst kann wie der
              gesamte Footer über den Theme-Customizer (Design &gt; Customizer
              &gt; Widgets) editiert werden. Die inhaltliche Struktur des
              Footers ist hierbei vorgegeben, bitte behalten Sie diese bei allen
              inhaltlichen Anpassungen bei (siehe auch Betriebskonzept
              Webdienste).
            </p>
          </div>
        </div>
      </div>
      <!-- End page description -->

      <!-- Quicklinks -->
      <div class="col-12 col-sm-6 col-lg-4 order-3">
        <div class="footer-widget">
          <h3 class="footer__title">Quicklinks</h3>
          <div class="textwidget">
            <p>
              <a href="#">Quicklink 1</a><br />
              <a href="#">Quicklink 2</a><br />
              <a href="#">Quicklink 3</a><br />
              <a href="#">Quicklink 4</a>
            </p>
          </div>
        </div>
      </div>
      <!-- End quicklinks -->
    </div>
  </div>
  <div class="container footer__meta">
    <div class="border-top border-dark d-flex justify-content-center">
      <p>
        <a href="https://www.fhnw.ch" target="_blank">www.fhnw.ch</a>
        <span class="d-inline-block mx-1 mx-md-2">|</span>
        <a href="https://www.fhnw.ch/plattformen/generisch/impressum/"
          >Impressum</a
        >
        <span class="d-inline-block mx-1 mx-md-2">|</span>
        <a href="https://www.fhnw.ch/plattformen/generisch/datenschutz/"
          >Datenschutz</a
        >
      </p>
    </div>
  </div>
</footer>

<style>
  /* @import "../styles/fhnw_mb.css"; */

  footer {
    background-color: #000;
    color: #fff;
    display: block;
    padding-top: 30px;
    margin-top: 0;
    font-family: Inter, serif;
  }

  footer h3 {
    font-size: 1rem;
    color: #fff;
  }

  footer p {
    font-size: 0.75rem;
    letter-spacing: 0.54px;
    color: #bebdb9;
  }

  footer h2.font-weight-bold {
    border-bottom: 1px solid #bebdb9;
    font-size: 15px;
    color: #fff;
    padding-bottom: 14px;
    line-height: 1.7;
  }

  footer a {
    font-size: 0.75rem;
    letter-spacing: 0.54px;
    color: #bebdb9;
    line-height: 200%;
  }

  footer a.social-icons__link {
    color: #bebdb9;
    opacity: 0.8;
  }

  footer a.social-icons__link:hover {
    color: #fff;
    opacity: 1;
  }

  footer a:hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
  }

  footer a a:not(:active),
  footer a:active {
    outline: 0;
    opacity: 1;
  }

  footer .footer__meta p a {
    font-size: 0.9375rem;
    text-decoration: none;
  }

  footer .footer__meta p a:hover {
    color: #fff;
  }

  footer .page-footer {
    padding-bottom: 50px;
  }

  .footer__inner {
    display: none !important;
  }
</style>
