---


---

<header>
    <div class="fhnw">
        <a href="https://www.fhnw.ch/de/studium/gestaltung-kunst/bachelor-of-arts/bachelor-of-arts-fhnw-in-prozessgestaltung"
            target="_blank">
            <img src="https://www.hypermagazine.ch/wp-content/themes/hypermagazine_klein/images/FHNW_HGK_DE.svg"
                alt="FHNW LOGO">
        </a>
    </div>
</header>

<style>
    .fhnw {
        display: block;
        /* float: left; */
        position: relative;
        margin-left: 1.6%;
        padding: 5px 0;
        margin-top: 11px;
        width: 300px;
        z-index: 1;
    }
    
    .fhnw img {
        width: 300px;
        max-width: initial;
    }
    
    .fhnw-inside {
        display: block;
        float: left;
        position: relative;
        padding: 5px 0;
        margin-top: 11px;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .fhnw-inside img {
        width: 300px;
        max-width: initial;
    }
    </style>