---

---

<header id="header" role="banner">
  <nav id="side-nav">
    <div id="about-btn" class="slideinabout">About Transversal Design</div>
    <div id="ht-button">#</div>
    <div id="search-button">🔎</div>
  </nav>
  <div id="slideinNavHash">
    <div class="fhnw-inside">
      <a
        href="https://www.fhnw.ch/de/studium/gestaltung-kunst/bachelor-of-arts/bachelor-of-arts-fhnw-in-prozessgestaltung"
        target="_blank"
      >
        <img
          src="https://www.hypermagazine.ch/wp-content/themes/hypermagazine_klein/images/FHNW_HGK_Weiss_DE.svg"
          alt="FHNW LOGO"
        />
      </a>
    </div>
    <div class="clear"></div>
    <ul>
      <li>
        <a href="https://www.hypermagazine.ch/tag/alumniae/" rel="tag"
          >#alumni*ae</a>
      </li>
      <li>
        <a href="https://www.hypermagazine.ch/tag/analyze/" rel="tag"
          >#analyze</a>
      </li>
    </ul>
  </div>
  <div id="slideinSearch">
    <div class="fhnw-inside">
      <a
        href="https://www.fhnw.ch/de/studium/gestaltung-kunst/bachelor-of-arts/bachelor-of-arts-fhnw-in-prozessgestaltung"
        target="_blank"
      >
        <img
          src="https://www.hypermagazine.ch/wp-content/themes/hypermagazine_klein/images/FHNW_HGK_Weiss_DE.svg"
          alt="FHNW LOGO"
        />
      </a>
    </div>
    <div class="search_canvas">
      <form action="/" method="get">
        <input type="text" name="s" id="search" value="" />
        <button type="submit">🔎</button>
      </form>
    </div>
  </div>
  <div id="slideinNav">
    <div class="fhnw-inside">
      <a
        href="https://www.fhnw.ch/de/studium/gestaltung-kunst/bachelor-of-arts/bachelor-of-arts-fhnw-in-prozessgestaltung"
        target="_blank"
      >
        <img
          src="https://www.hypermagazine.ch/wp-content/themes/hypermagazine_klein/images/FHNW_HGK_Weiss_DE.svg"
          alt="FHNW LOGO"
        />
      </a>
    </div>
    <div class="clear"></div>

    <div class="en hide">
      → HYPERMAGAZINE is the online magazine of HyperWerk and the study course
      BA Process Design at IXDM of the Academy of Art and Design Basel FHNW in
      Switzerland.<br />
      <br />
      → Process designers at HyperWerk engage in contemporary debates and experiment
      in self-initiated projects. The question behind the projects and discourses
      at HyperWerk is: How can we live together? This «we» includes human as well
      as more-than-human actors in the living environment. How can we – humans, animals,
      plants, fungi, bacteria, and machines – live together on this earth?<br />
      <br />
      → Lese diesen Text auf <a class="toggleLanguage">Deutsch</a><br />
      → Find more information at <a
        href="https://fhnw.ch/hgk/prozessgestaltung"
        target="_blank"
        rel="noopener">fhnw.ch/hgk/prozessgestaltung</a
      ><br />
      → Follow us on <a href="http://instagram.com/hgkbasel_fhnw">instagram</a> and
      <a
        href="https://facebook.com/cometohyperwerk"
        target="_blank"
        rel="noopener">facebook</a
      ><br />
      <br />
      → <a
        href="https://hypermagazine.ch/hypermagazine/?page_id=815"
        target="_blank"
        rel="noopener">Imprint</a
      > and <a
        href="https://hypermagazine.ch/hypermagazine/?page_id=5688"
        target="_blank"
        rel="noopener">Data protection</a
      >
    </div>
    <div class="de">
      → Das HYPERMAGAZINE ist das Online-Magazin des Studiengangs BA
      Prozessgestaltung am HyperWerk IXDM der Hochschule für Gestaltung und
      Kunst Basel FHNW in der Schweiz.<br />
      <br />
      → Die Prozessgestalter*innen des HyperWerks beschäftigen sich mit aktuellen
      Debatten und experimentieren gestaltend in selbstinitiierten Projekten. Hinter
      den Projekten und Diskursen am HyperWerk steht die Frage: Wie können wir zusammen
      leben? Dieses «Wir» bezieht sowohl menschliche als auch mehr-als-menschliche
      Akteur* innen der gelebten Mitwelt ein. Wie können wir – also Menschen, Tiere,
      Pflanzen, Pilze, Bakterien und Maschinen – auf dieser Erde miteinander leben?<br
      />
      <br />
      → Read this text in <a class="toggleLanguage">english</a><br />
      → Mehr zum Studium unter <a
        href="https://fhnw.ch/hgk/prozessgestaltung"
        target="_blank"
        rel="noopener">fhnw.ch/hgk/prozessgestaltung</a
      ><br />
      → Folge uns auf <a href="http://instagram.com/hgkbasel_fhnw">instagram</a>
      und <a
        href="https://facebook.com/cometohyperwerk"
        target="_blank"
        rel="noopener">facebook</a
      ><br />
      <br />
      → <a
        href="https://hypermagazine.ch/hypermagazine/institut/impressum/"
        target="_blank"
        rel="noopener"
        >Impressum
      </a>und <a
        href="https://hypermagazine.ch/hypermagazine/?page_id=5688"
        target="_blank"
        rel="noopener">Datenschutz</a
      >
    </div>
  </div>
</header>

<style>
  #wrapper {
    margin: 0 auto;
  }

  #header {
    width: 100%;
    background: #fff;
  }

  #header-inner {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    position: relative;
    height: 50px;
  }

  #header {
    width: 100%;
    background: #fff;
    z-index: 999999;
  }

  #header-inner.shrink {
    width: 1400px;
    background: #fff;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    /*border-bottom:1px solid #000;*/
  }

  .is-type-video iframe {
    width: 100%;
  }

  #header.shrink #site-description,
  #header.shrink #site-description-2,
  #header.shrink #socials,
  #header.shrink #search {
    display: none;
  }

  #header.open {
    border-bottom: none;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    max-width: 100%;
  }

  .search_canvas {
    position: relative;
    display: block;
    clear: both;
    max-width: 410px;
    margin: 0 auto;
    width: 100%;
  }

  .search_canvas input {
    width: 80%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 2px solid #fff;
    color: #fff;
  }

  .search_canvas button {
    background: none;
    outline: 0;
    border: 0;
    color: #fff;
    width: 17%;
    margin: 0;
    padding: 0;
  }

  #branding {
    float: right;
    width: 200px;
    margin-right: -25px;
  }

  #header.shrink #branding {
    margin-bottom: 0;
  }

  .fhnw {
    display: block;
    float: left;
    position: relative;
    margin-left: 1.6%;
    padding: 5px 0;
    margin-top: 11px;
    width: 300px;
    z-index: 1;
  }

  .fhnw img {
    width: 300px;
    max-width: initial;
  }

  .fhnw-inside {
    display: block;
    float: left;
    position: relative;
    padding: 5px 0;
    margin-top: 11px;
    width: 100%;
    margin-bottom: 20px;
  }

  .fhnw-inside img {
    width: 300px;
    max-width: initial;
  }

  #site-title h1,
  #site-description,
  #site-description-2 {
    display: inline;
    position: relative;
  }

  #site-title h1 span,
  #site-description span,
  #site-description-2 span {
    background: #000;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  #site-title h1 span.aniborder,
  #site-description span.aniborder,
  #site-description-2 span.aniborder {
    width: 100%;
  }

  #site-title h1 span,
  #site-description span,
  #site-description-2 span {
    width: 0;
    transition: width 1s ease;
    background-color: #000;
  }

  article h2 {
    margin-bottom: 22px;
  }

  .category #site-title,
  .single #site-title,
  .tag #site-title,
  .search #site-title,
  .page-template-page-hypermap #site-title {
    margin-bottom: 3px;
  }

  #site-title a {
    font-family: "VG5000";
    font-size: 30px;
    line-height: 0;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }

  #site-description a,
  #site-description-2 a {
    font-family: "happy-times-NG";
    font-size: 30px;
    line-height: 30px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }

  .home #site-title a,
  .home #site-description a,
  .home #site-description-2 a,
  .category #site-title a,
  .category #site-description a,
  .category #site-description-2 a,
  .single #site-title a,
  .single #site-description a,
  .single #site-description-2 a,
  .tag #site-title a,
  .tag #site-description a,
  .tag #site-description-2 a,
  .search #site-title a,
  .search #site-description a,
  .search #site-description-2 a,
  .page-template-page-hypermap #site-title a,
  .page-template-page-hypermap #site-description a,
  .page-template-page-hypermap #site-description-2 a {
    font-family: "VG5000";
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
  }

  #fullwidth_container_centered {
    text-align: center;
    left: 0;
    top: 23px;
    z-index: 1;
    width: 585px;
    margin: 0 auto;
  }

  .shrink #fullwidth_container_centered {
    top: 12px;
  }

  #side-nav {
    background-color: #000;
    font-family: "VG5000";
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    height: 100vh;
    width: 50px;
    position: fixed;
    right: 0;
    top: 0;
    float: right;
    margin: 0;
    padding: 0 0px;
    line-height: 1.6;
    min-height: 100vh;
    z-index: 160;
  }

  #ht-button {
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 368px;
    position: absolute;
    height: 30px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    line-height: 1.6;
    padding-left: 18px;
  }

  #search-button {
    font-family: "VG5000";
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 411px;
    position: absolute;
    height: 30px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    line-height: 1.6;
    padding-left: 18px;
  }

  .hide {
    display: none;
  }

  #about-btn {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    text-align: left;
    padding: 10px 0 10px 15px;
    width: 370px;
    top: -50px;
    position: absolute;
    cursor: pointer;
    height: 50px;
    line-height: 1.6;
  }

  #side-nav a {
    color: inherit;
    text-decoration: none;
  }

  #ht-button-sub {
    display: inline-block;
    top: 300px;
    position: absolute;
    cursor: pointer;
    width: 50px;
    text-align: center;
    line-height: 1.6;
    padding-top: 13px;
    height: 40px;
    padding-left: 3px;
  }

  #home-btn {
    font-family: "VG5000";
    text-align: center;
    display: block;
    height: 60px;
    padding-top: 20px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
  }

  #slideinNav,
  #slideinNavHash,
  #slideinSearch {
    position: fixed;
    top: 0;
    left: 100%;
    background: #000;
    color: #fff;
    min-height: 100vh;
    width: 100%;
    padding: 0 65px 1.6% 1.6%;
    font-size: 25pt;
    font-family: "VG5000";
    z-index: 150;
    overflow: auto;
    height: 100%;
  }

  #slideinNav.visible,
  #slideinNavHash.visible,
  #slideinSearch.visible {
    left: 0;
  }

  #slideinNav.visible,
  #slideinNav,
  #slideinNavHash.visible,
  #slideinNavHash,
  #slideinSearch.visible,
  #slideinSearch {
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  #slideinNav p {
    margin-bottom: 25px;
  }

  #slideinNavHash ul li {
    float: left;
    margin-right: 15px;
  }

  #slideinNavHash a {
    color: #fff;
    line-height: 1.2;
    text-decoration: navajowhite;
  }
</style>

<script>
  import "../scripts/sidebar.js";
</script>
